.sidbar{
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 220px;
}
.sidbar .logo img{
    width: 200px;
   padding: 1rem 1rem;
}
.sidbar nav{
    padding-top: 1rem;
    padding-left: 2rem;
}
.sidbar nav a{
    color: #626262;
    font-size: 13px;
    text-decoration: none;
    line-height: 3em;
    display: block;
    line-height: 3.5em;
}
.sidbar nav a:hover{
    background: #01579B;
    border-radius: 5px;
    padding: 0 1rem;
    margin-left: -1rem;
    margin-right: 1rem;
    color: #fff;
}
.sidbar nav  img{
    width: 1rem;
    margin-right: 1rem;
}
.active1{
    background: #01579B;
    border-radius: 5px;
    padding: 0 1rem;
    margin-left: -1rem;
    margin-right: 1rem;
}
















