.container-table{
    background: #fff;
    margin-top: 3.5rem;
    padding: 1rem;
}
.table-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table-header h3{
    font-size: 1rem;
    font-weight: 700;
    color: #777777;
}
.table-header .table-text{
    color: #fff;
}
.table-header button{
    border: none;
    outline: none;
    background:#7ED321;
    padding: 0.3rem 0.5rem;
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
}
.table-bg{
    background:#01579B;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
}
table{
    background: #fff;
    padding: 1rem;
    margin-top: 1rem;
}
table td{
    padding-left: 10px;
    font-size: 12px;
    color: #626262;
}
table th{
    padding-left: 10px;
    background:#01579B;
    margin-top: 1rem;
    padding: 0.5rem;
    color:#fff;
    text-align: center;
    font-size: 13px;
}